# PROYECTO FINAL - modificación de columnas

In [3]:
# Tratamiento de datos
import numpy as np
import pandas as pd
#import sidetable as stb

# Gráficos
import matplotlib.pyplot as plt
from matplotlib import style
import matplotlib.ticker as ticker
import seaborn as sns
import sidetable as stb

# Asunciones y Preprocesamiento
from scipy import stats
import math
from scipy.stats import levene
#import researchpy as rp
from sklearn.preprocessing import StandardScaler
import itertools
from statsmodels.tools.tools import add_constant
from statsmodels.stats.outliers_influence import variance_inflation_factor

# ANOVA
import statsmodels.api as sm
from statsmodels.formula.api import ols
import researchpy as rp # chi square

#Linear Regresion con Sklearn
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics

# Configuración warnings
import warnings
warnings.filterwarnings('ignore')
pd.options.display.max_columns = False

In [4]:
df_bike = pd.read_csv("./bikes.csv", index_col=0)
df_bike.sample(6)

     instant      dteday  season  yr  ...  windspeed  casual  registered   cnt
370      371  06-01-2019  spring   1  ...  11.249836     307        3791  4098
391      392  27-01-2019  spring   1  ...  22.958689     269        3187  3456
303      304  31-10-2018  winter   0  ...   7.125450     362        3307  3669
210      211  30-07-2018  autumn   0  ...  11.291979    1559        2916  4475
453      454  30-03-2019  summer   1  ...   9.250489     796        4663  5459
329      330  26-11-2018  winter   0  ...   4.584194    1249        1819  3068

[6 rows x 16 columns]

# MODIFICACIONES EN NUESTRAS COLUMNAS:

# 1. Fecha:
- Tenemos "yr" (año) y "mnth" (mes) y obtenemos "day" a través de la separación de "dteday", que posteriormente eliminaremos:

In [5]:
df_bike["day"] = df_bike["dteday"].str.split(pat= "-", n = -1, expand = True)[0]

In [6]:
df_bike=df_bike.reindex(columns=['instant', 'dteday', 'season', 'yr', 'mnth','day', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'])

In [7]:
df_bike.head()

   instant      dteday  season  yr  ...  windspeed casual  registered   cnt
0        1  01-01-2018  spring   0  ...  10.749882    331         654   985
1        2  02-01-2018  spring   0  ...  16.652113    131         670   801
2        3  03-01-2018  spring   0  ...  16.636703    120        1229  1349
3        4  04-01-2018  spring   0  ...  10.739832    108        1454  1562
4        5  05-01-2018  spring   0  ...  12.522300     82        1518  1600

[5 rows x 17 columns]

------

# 2. Columna "season"
- Corregir de acuerdo con las fechas.

In [8]:
df_bike['dteday'] = df_bike['dteday'].apply(pd.to_datetime)

In [9]:
def meses(x):
    a = x.month

    if  a >= 1 and a<=3:
        return 'winter'
    elif a >= 4 and a<=6:
        return 'spring'
    elif a >= 7 and a<=9:
        return 'summer'
    else:
        return 'autumn'

In [10]:
df_bike['season'] = df_bike['dteday'].apply(meses)

In [11]:
df_bike.sample(5)

     instant     dteday  season  yr  ...  windspeed casual  registered   cnt
61        62 2018-03-03  winter   0  ...  15.125518    123        1562  1685
442      443 2019-03-19  winter   1  ...  10.875239    982        5171  6153
262      263 2018-09-20  summer   0  ...   9.041918    438        3203  3641
425      426 2019-02-03  winter   1  ...   9.708568    246        2948  3194
494      495 2019-10-05  autumn   1  ...  21.042221   1026        5546  6572

[5 rows x 17 columns]

 - Encoding numérico para la columna season

In [12]:
scale_mapper = {"winter":1, "spring":1, "summer":2, 'autumn':3}

df_bike['season_encoding'] = df_bike["season"].replace(scale_mapper)

--------

# 8. "weathersit": 
- 1: Clear, Few clouds, Partly cloudy, Partly cloudy
- 2: Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist
- 3: Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds
- 4: Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog

In [13]:
weather = pd.DataFrame(df_bike[["cnt", "weathersit"]].groupby("weathersit"))

In [14]:
i = 0
lista2 = []
for i in range(len(df_bike["weathersit"].value_counts())):
    a = weather[1][i]["cnt"].sum()
    i = i+1
    lista2.append(a)

In [15]:
weathersit = pd.DataFrame(lista2)
weathersit["%"] = weathersit[0].apply(lambda x: x / df_bike.shape[0] * 100)
weathersit["Tipo"] = ["1", "2", "3"]

In [16]:
labelsX = ["1: Clear, Few clouds, Partly cloudy, Partly cloudy", "2: Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist", "Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds"]

In [17]:
df_bike.head(2)

   instant     dteday  season  yr  ...  casual registered  cnt  season_encoding
0        1 2018-01-01  winter   0  ...     331        654  985                1
1        2 2018-02-01  winter   0  ...     131        670  801                1

[2 rows x 18 columns]

---

# 9. Temperatura, Sensación Térmica y Humedad

### Hay que hacer encoding con etiquetas para las graficas

In [18]:
df_bike.head(2)

   instant     dteday  season  yr  ...  casual registered  cnt  season_encoding
0        1 2018-01-01  winter   0  ...     331        654  985                1
1        2 2018-02-01  winter   0  ...     131        670  801                1

[2 rows x 18 columns]

In [19]:
df_bike[['temp','atemp','hum']] = df_bike[['temp','atemp','hum']].round(1)

###  Codificando variables

In [20]:
df_bike["temp_interval"] = pd.cut(df_bike["temp"], 5,labels = ["very_low", "low", "medium", "high", "very_high"], ordered=True)

In [21]:
df_bike["temp_interval_num"] = pd.cut(df_bike["temp"], 5, ordered=True)

In [22]:
df_bike["hum_interval"] = pd.cut(df_bike["hum"], 5,labels = ["very_low", "low", "medium", "high", "very_high"], ordered=True)

In [23]:
df_bike["hum_interval_num"] = pd.cut(df_bike["hum"], 5, ordered=True)

### Voy a hacer un ordinal encoding

In [24]:
from sklearn.preprocessing import OrdinalEncoder
orden = ["very_low", "low", "medium", "high", "very_high"]

In [25]:
def ordinal_encoder(df, columna, orden_valores):
    
    # nos creamos un diccionario vacío para hacer el map después. 
    ordinal_dict = {}
    
    # iteramos por nuestra lista de valores usando el enumerate que recordamos nos devolvía también el índice o posición de cada elemento
    for i, valor in enumerate(orden_valores):
        ordinal_dict[valor]=i+1 # le sumamos uno a la posición para no tener valores de 0. 
    
    # aplicamos el map
    df[columna+"_ord"] = df[columna].map(ordinal_dict)
    return df

In [26]:
ordinal_encoder(df_bike, "temp_interval", orden)

     instant     dteday  season  ...  hum_interval  hum_interval_num temp_interval_ord
0          1 2018-01-01  winter  ...     very_high     (77.76, 97.2]                 2
1          2 2018-02-01  winter  ...          high    (58.32, 77.76]                 2
2          3 2018-03-01  winter  ...        medium    (38.88, 58.32]                 1
3          4 2018-04-01  spring  ...          high    (58.32, 77.76]                 1
4          5 2018-05-01  spring  ...        medium    (38.88, 58.32]                 2
..       ...        ...     ...  ...           ...               ...               ...
725      726 2019-12-27  autumn  ...          high    (58.32, 77.76]                 2
726      727 2019-12-28  autumn  ...          high    (58.32, 77.76]                 2
727      728 2019-12-29  autumn  ...          high    (58.32, 77.76]                 2
728      729 2019-12-30  autumn  ...        medium    (38.88, 58.32]                 2
729      730 2019-12-31  autumn  ...        medium    (38.88, 58.32]                 1

[730 rows x 23 columns]

In [27]:
ordinal_encoder(df_bike, "hum_interval", orden)

     instant     dteday  ... temp_interval_ord  hum_interval_ord
0          1 2018-01-01  ...                 2                 5
1          2 2018-02-01  ...                 2                 4
2          3 2018-03-01  ...                 1                 3
3          4 2018-04-01  ...                 1                 4
4          5 2018-05-01  ...                 2                 3
..       ...        ...  ...               ...               ...
725      726 2019-12-27  ...                 2                 4
726      727 2019-12-28  ...                 2                 4
727      728 2019-12-29  ...                 2                 4
728      729 2019-12-30  ...                 2                 3
729      730 2019-12-31  ...                 1                 3

[730 rows x 24 columns]

---

# 10. "Windspeed": encoding

### Se ponen etiquetas a viento

In [28]:
df_bike['wind_interval'] = pd.cut(df_bike['windspeed'], 5, labels=["very_low", "low", "medium", "high", "very_high"], ordered=True)

In [29]:
df_bike['wind_interval'] = df_bike['wind_interval'].astype('object')

### Encoding numérico para la columna wind

In [30]:
scale_mapper = {"very low":0, "low":1, "medium":2, 'high':3, 'very high':4}

df_bike['wind_num_encoding'] = df_bike["wind_interval"].replace(scale_mapper)

In [31]:
df_bike.head()

   instant     dteday  season  ...  hum_interval_ord  wind_interval wind_num_encoding
0        1 2018-01-01  winter  ...                 5            low                 1
1        2 2018-02-01  winter  ...                 4         medium                 2
2        3 2018-03-01  winter  ...                 3         medium                 2
3        4 2018-04-01  spring  ...                 4            low                 1
4        5 2018-05-01  spring  ...                 3            low                 1

[5 rows x 26 columns]

In [32]:
df_bike.to_csv('bike_columnas_modificadas.cvs')