In [68]:
import pandas as pd
import numpy as np
import seaborn as sns
import sidetable
import matplotlib.pyplot as plt
from datetime import datetime
import re

In [144]:
df_bike = pd.read_csv('bikes.csv', index_col=0)
df_bike.head(10)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,spring,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,spring,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,spring,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,spring,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600
5,6,06-01-2018,spring,0,1,0,4,1,1,8.378268,11.66045,51.8261,6.000868,88,1518,1606
6,7,07-01-2018,spring,0,1,0,5,1,2,8.057402,10.44195,49.8696,11.304642,148,1362,1510
7,8,08-01-2018,spring,0,1,0,6,0,2,6.765000,8.11270,53.5833,17.875868,68,891,959
8,9,09-01-2018,spring,0,1,0,0,0,1,5.671653,5.80875,43.4167,24.250650,54,768,822
9,10,10-01-2018,spring,0,1,0,1,1,1,6.184153,7.54440,48.2917,14.958889,41,1280,1321

Cambiamos la columna 'dteday' a formato datetime, que responde con mes-día-año

In [62]:
df_bike['dteday'] = df_bike['dteday'].apply(pd.to_datetime)

In [63]:
df_bike.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2018-01-01,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,2018-02-01,spring,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,2018-03-01,spring,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,2018-04-01,spring,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,2018-05-01,spring,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [ ]:
plt.figure(figsize=(15,7))
sns.set_theme(style="whitegrid")
ax = sns.barplot(x="weathersit", y="cnt", data=df_bike)

Como la columna 'season' tiene el orden mal, hay que hacer un bucle for para reorganizarla.

In [ ]:
for row in df_bike:
    if string == "01" | "02" | "03":
        season = winter
    elif string ...

Codificamos la columna windspeed.
 - Primero redondeamos los números a uno para que sea más fácil trabajar con los números.
 - Después haremos un bucle for en el que se vayan iterando cada fila de la columna windspeed para que se cambie el valor original por el del código elegido.
 En este caso será: https://lainakai.com/la-fuerza-del-viento/
 - La medida que utilizaremos para medir el tiempo es el kn (KiloNewton)

In [138]:
df_bike.windspeed = df_bike.windspeed.round(1)

In [139]:
df_bike.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.7,331,654,985
1,2,02-01-2018,spring,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.7,131,670,801
2,3,03-01-2018,spring,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.6,120,1229,1349
3,4,04-01-2018,spring,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.7,108,1454,1562
4,5,05-01-2018,spring,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.5,82,1518,1600

In [140]:
len(df_bike.windspeed)

730

In [141]:
vientos = []

for i in range(len(df_bike.windspeed)):
    if i < 2:
        vientos.append(0)
    elif i > 2 and i <= 7:
        vientos.append(1)
    elif i > 7 and i <= 11:
        vientos.append(2)
    elif i > 11 and i <= 19:
        vientos.append(3)
    elif i > 19 and i <= 29:
        vientos.append(4)
    else:
        vientos.append(5)

In [142]:
df_bike['wind'] = vientos

In [143]:
df_bike.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,wind
0,1,01-01-2018,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.7,331,654,985,0
1,2,02-01-2018,spring,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.7,131,670,801,0
2,3,03-01-2018,spring,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.6,120,1229,1349,5
3,4,04-01-2018,spring,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.7,108,1454,1562,1
4,5,05-01-2018,spring,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.5,82,1518,1600,1

In [135]:
df_bike.drop(columns=['seasons','wind'], inplace=True)

In [ ]:
# patron_invierno = 
# patron_ primavera = 
# patron_verano = 
# patron_otoño =

In [ ]:
# season = []

# def estaciones(x):
    
#     especies = df_bike[x]

#     for row in especies:
#         if re.match(patron_blanco, str(row)):
#             clase_tiburon.append('White')
#         elif re.match(patron_gris, str(row)):
#             clase_tiburon.append('Grey')
#         elif re.match(patron_tigre, str(row)):
#             clase_tiburon.append('Tiger')
#         elif re.match(patron_limon, str(row)):
#             clase_tiburon.append('Lemon')
#         elif re.match(patron_toro, str(row)):
#             clase_tiburon.append('Bull')
#         else:
#             clase_tiburon.append('Undefined')