# PROYECTO FINAL

La empresa GoGreen Bikesharing, se dedica al alquiler de bicicletas y posee datos tales como la cantidad de bicis alquiladas por usuarios registrados, la cantidad de alquileres realizados por usuarios puntuales, y la cantidad total. 

A estos datos se les añadió información meteorológica, y el calendario de festivos.

Ahora buscan analizar cuáles son los aspectos que más influyen en la cantidad de bicis que van a alquilar en un día.

In [1]:
import pandas as pd

PREGUNTAS

¿en que momento del año se alquilan mas bicicletas?
Influye soleado o nubes?
Fin de semana o laborable?
los primeros y ultimos dias del mes hay mas reservas?
festivos aumenta las reservas?
la tempreatura a partir de la cual disminuye los alquileres  ->Punto ruptura
Punto maximo de alquiler
la temperatura alta influye al alquiler de espontaneos o habituales?
la humedad es un punto clave en algun momento? A partir de que punto de humedad bajan drasticamente las reservas?

fecha donde hay mas y menos reservas

In [15]:
df_bike = pd.read_csv("./bikes.csv", index_col=0)
df_bike.sample(60)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
268,269,26-09-2018,winter,0,9,0,1,1,2,26.615847,29.45210,84.8333,7.416900,684,3946,4630
86,87,28-03-2018,summer,0,3,0,1,1,1,10.838268,12.87870,30.2174,14.217668,222,1806,2028
495,496,11-05-2019,summer,1,5,0,5,1,1,21.866653,26.04165,36.0417,15.874779,1319,5711,7030
129,130,10-05-2018,summer,0,5,0,2,1,1,21.832500,26.13605,48.9167,7.749957,694,4109,4803
571,572,26-07-2019,autumn,1,7,0,4,1,1,31.843347,36.96315,59.6667,19.082471,1036,5825,6861
2,3,03-01-2018,spring,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
69,70,11-03-2018,spring,0,3,0,5,1,2,12.977402,15.25000,64.9565,15.608990,247,1730,1977
144,145,25-05-2018,summer,0,5,0,3,1,1,27.094153,30.77710,69.6250,10.333611,740,4238,4978
537,538,22-06-2019,autumn,1,6,0,5,1,1,31.877500,36.20605,57.3750,12.250414,964,4859,5823
586,587,10-08-2019,autumn,1,8,0,5,1,2,29.349153,33.39710,71.5833,16.000471,1065,4721,5786
33,34,03-02-2018,spring,0,2,0,4,1,1,7.665237,8.89390,43.7826,18.609384,61,1489,1550
684,685,16-11-2019,winter,1,11,0,5,1,1,14.145000,17.36020,52.4583,11.458675,484,5214,5698
356,357,23-12-2018,spring,0,12,0,5,1,1,15.306653,18.87565,68.6250,18.374482,163,2046,2209
254,255,12-09-2018,autumn,0,9,0,1,1,1,26.418268,30.10650,69.2174,5.957171,690,4023,4713
683,684,15-11-2019,winter,1,11,0,4,1,2,13.188347,16.22460,62.0417,10.250129,320,5125,5445
110,111,21-04-2018,summer,0,4,0,4,1,1,18.825847,22.69460,40.7083,21.792286,745,3444,4189
372,373,08-01-2019,spring,1,1,0,0,0,1,13.837500,17.01290,46.5000,12.833314,599,2826,3425
47,48,17-02-2018,spring,0,2,0,4,1,1,17.869153,21.43290,50.5000,15.416968,259,2216,2475
483,484,29-04-2019,summer,1,4,0,0,0,1,18.791653,22.50605,58.7083,7.832836,2229,4075,6304
3,4,04-01-2018,spring,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
588,589,12-08-2019,autumn,1,8,0,0,0,1,28.734153,32.22895,53.0417,8.208304,2182,4362,6544
172,173,22-06-2018,autumn,0,6,0,3,1,1,30.066653,34.69145,70.7500,11.541554,661,3846,4507
148,149,29-05-2018,summer,0,5,0,0,0,1,27.367500,30.77750,81.8750,14.333846,2355,2433,4788
138,139,19-05-2018,summer,0,5,0,4,1,2,21.764153,25.53710,82.9583,7.250271,735,3840,4575
439,440,16-03-2019,spring,1,3,0,5,1,2,17.869153,21.81145,84.2083,7.583864,548,3830,4378
161,162,11-06-2018,summer,0,6,0,6,0,1,29.725000,33.90190,65.4583,10.374950,1729,3237,4966
404,405,09-02-2019,spring,1,2,0,4,1,1,10.865000,13.09940,56.2083,13.000479,163,3667,3830
370,371,06-01-2019,spring,1,1,0,5,1,1,13.700847,17.01335,54.2083,11.249836,307,3791,4098
650,651,13-10-2019,winter,1,10,0,6,0,1,16.126653,19.56980,49.4583,9.791514,2252,4857,7109
222,223,11-08-2018,autumn,0,8,0,4,1,1,29.417500,32.57605,42.3750,11.041332,812,3980,4792
382,383,18-01-2019,spring,1,1,0,3,1,1,12.436653,13.76270,44.3333,27.833743,109,3267,3376
556,557,11-07-2019,autumn,1,7,0,3,1,1,29.383347,32.51355,63.3333,10.166111,975,6289,7264
582,583,06-08-2019,autumn,1,8,0,1,1,2,30.852500,35.51230,65.4167,8.666718,1233,5780,7013
173,174,23-06-2018,autumn,0,6,0,4,1,2,29.861653,34.69165,70.3333,15.999868,746,4044,4790
640,641,03-10-2019,winter,1,10,0,3,1,2,26.957500,29.95665,79.3750,4.458569,728,6844,7572
388,389,24-01-2019,spring,1,1,0,2,1,1,14.042500,17.45540,83.5833,8.292389,439,3900,4339
407,408,12-02-2019,spring,1,2,0,0,0,1,5.227500,5.08290,46.4583,27.417204,73,1456,1529
143,144,24-05-2018,summer,0,5,0,2,1,2,27.060000,30.24065,74.0833,13.875164,659,3833,4492
474,475,20-04-2019,summer,1,4,0,5,1,1,21.593347,25.78875,69.4583,10.041357,1340,5950,7290
492,493,08-05-2019,summer,1,5,0,2,1,2,23.848347,27.87355,68.5833,19.833943,738,4990,5728
66,67,08-03-2018,spring,0,3,0,2,1,1,11.992500,15.12000,42.0833,8.083550,316,1817,2133
142,143,23-05-2018,summer,0,5,0,1,1,2,25.898347,29.51480,81.0000,15.667414,836,3438,4274
280,281,08-10-2018,winter,0,10,0,6,0,1,21.388347,25.66210,70.1250,3.042081,2235,3174,5409
248,249,06-09-2018,autumn,0,9,0,2,1,3,22.140000,25.76000,88.6957,23.044181,204,2506,2710
688,689,20-11-2019,winter,1,11,0,2,1,2,15.340847,19.03335,68.5000,5.542575,534,5100,5634
390,391,26-01-2019,spring,1,1,0,4,1,2,14.008347,17.80250,76.9583,4.917519,244,3831,4075
186,187,06-07-2018,autumn,0,7,0,3,1,1,29.520000,34.28165,74.3333,10.042161,784,3845,4629
272,273,30-09-2018,winter,0,9,0,5,1,1,23.130847,27.24145,64.7500,13.833825,830,4372,5202
430,431,07-03-2019,spring,1,3,0,3,1,1,16.570847,19.25500,51.3333,23.167193,432,4484,4916
712,713,14-12-2019,winter,1,12,0,5,1,1,11.548347,14.70960,64.2917,8.792343,429,5182,5611
263,264,21-09-2018,autumn,0,9,0,3,1,2,24.395000,27.52665,90.0000,6.459081,539,3813,4352
376,377,12-01-2019,spring,1,1,0,4,1,2,15.682500,19.09690,80.2917,12.124789,269,3828,4097
371,372,07-01-2019,spring,1,1,0,6,0,1,16.126653,19.53895,53.1667,11.708786,1070,3451,4521
274,275,02-10-2018,winter,0,10,0,0,0,2,14.623347,17.26585,79.1667,14.874871,616,2302,2918
676,677,08-11-2019,winter,1,11,0,4,1,1,14.439134,17.09455,33.3478,23.304945,340,4975,5315
314,315,11-11-2018,winter,0,11,1,5,0,1,13.290847,15.34085,44.6250,21.083225,440,2928,3368
270,271,28-09-2018,winter,0,9,0,3,1,2,26.035000,28.75790,84.8750,9.958143,480,3427,3907
464,465,10-04-2019,summer,1,4,0,2,1,1,18.313347,21.81165,43.5000,16.708125,819,5099,5918
81,82,23-03-2018,summer,0,3,0,3,1,2,14.225237,16.89695,83.9565,15.695487,203,1918,2121
443,444,20-03-2019,spring,1,3,0,2,1,1,22.994153,26.92665,80.7917,8.125157,1051,5042,6093

In [14]:
df_bike.mnth.dtype

dtype('int64')

# limpieza string

In [10]:
df_bike.season.unique()

array(['spring', 'summer', 'autumn', 'winter'], dtype=object)

# duplicados

In [3]:
df_bike.duplicated().sum()

0

# Nulos

In [4]:
df_bike.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [7]:
df_bike.shape

(730, 16)

In [6]:
df_bike.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 730 entries, 0 to 729
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     730 non-null    int64
 1   dteday      730 non-null    object
 2   season      730 non-null    object
 3   yr          730 non-null    int64
 4   mnth        730 non-null    int64
 5   holiday     730 non-null    int64
 6   weekday     730 non-null    int64
 7   workingday  730 non-null    int64
 8   weathersit  730 non-null    int64
 9   temp        730 non-null    float64
 10  atemp       730 non-null    float64
 11  hum         730 non-null    float64
 12  windspeed   730 non-null    float64
 13  casual      730 non-null    int64
 14  registered  730 non-null    int64
 15  cnt         730 non-null    int64
dtypes: float64(4), int64(10), object(2)
memory usage: 97.0+ KB

# definir categoricas y numericas
# .reindex las columnas a gusto o uso
# .describe
# .stb.counts()
# .stb.missing()
# pairplot - Busca relaciones - ¿Hay que hacer algun ajuste?
# Boxplot
# Outliers - Identificarlos ¿Que hacer con ellos? %de cada columna
# Heatmap con la relacion
# ajuste lineal multiple